<%= form_for([@post, @comment], remote: true) do |f| %>
  <div class="form-field">
    <%= f.label "Comment:" %> <br/>
    <%= f.text_area(:body, cols: 40, rows: 10) %>
  </div>

  <%= f.submit "Add Comment", class: 'btn btn-info' %>
<% end %>
