<div class="comment-form">
  <%= form_tag(post_comments_path(@post), remote: true) do %>  
    <div class="form-group">
      <%= label_tag(:body, "Comment: ") %>
      <br/>
      <%= text_area_tag(:body, nil, cols: 40, rows: 10) %>
    </div>

    <%= submit_tag 'Add Comment', class: 'btn btn-info' %>
  <% end %>
</div>
