<div class="post">
  <h2><%= link_to_unless_current post.title, post_path(post) %></h2>
  <h3>Written on: <%= post.written_at %></h3>

  <%= simple_format(post.content) %>
</div>

<div class="post-nav">
  <%= link_to "Edit Post", post_edit_path(post) %>
</div>
