<h2>Tagged with: <%= @tag.name %></h2>

<div class="posts">
  <% @posts.each do |post| %>
    <!-- <%= render partial: "post", object: post %> -->
    <%= render partial: "post", locals: { post: post } %>
  <% end %>
</div>

<%= paginate @posts %>
